name: CI linux and windows

on: [push,pull_request]

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-22.04, windows-2022, windows-2025]
        compiler: [llvm-17.0.2, clang++-15, gcc-11, msvc]
        standard: [14, 17, 20, 23]
        build_type: [Release, Debug]
        exclude:
          # Exclude msvc on non-Windows platforms
          - os: ubuntu-22.04
            compiler: msvc
          # Exclude gcc on Windows platforms
          - os: windows-2022
            compiler: gcc-11
          - os: windows-2025
            compiler: gcc-11
          # Exclude llvm on Windows platforms
          - os: windows-2022
            compiler: llvm-17.0.2
          - os: windows-2025
            compiler: llvm-17.0.2

    steps:
    - uses: actions/checkout@v4

    # - name: Set up MSVC
    #  if: runner.os == 'Windows'
    #  uses: ilammy/msvc-dev-cmd@v1

    - name: Setup Cpp
      uses: aminya/setup-cpp@v1
      with:
        compiler: ${{ matrix.compiler }}
        vcvarsall: ${{ contains(matrix.os, 'windows' )}}

        cmake: true
        ninja: true
        vcpkg: false
        ccache: true
        clangtidy: true

        cppcheck: true

        gcovr: true
        opencppcoverage: true

    - name: setup dependencies - Unix
      if: runner.os == 'Linux'
      run: |
          sudo apt-get -y update
          sudo apt-get -y install -y ninja-build libboost-all-dev libasio-dev

    - name: setup dependencies - Windows
      if: runner.os == 'Windows'
      run: |
          choco install ninja
          choco install boost-msvc-14.1
          # Download and extract Asio
          curl -L -o asio.zip https://github.com/chriskohlhoff/asio/archive/refs/tags/asio-1-18-2.zip
          tar -xf asio.zip
          move asio-asio-1-18-2 asio

    - name: Configure CMake - Unix
      if: runner.os != 'Windows'
      run: |
        cmake -S . -B ./build -G "Ninja Multi-Config" -DCMAKE_BUILD_TYPE:STRING=${{matrix.build_type}} -DCMAKE_CXX_STANDARD=${{matrix.standard}} -DCLI_BuildTests=ON -DCLI_BuildExamples=ON -DCLI_UseBoostAsio=ON

    - name: Configure CMake - Windows
      # windows need asio library path
      if: runner.os == 'Windows'
      run: |
        Start-Sleep -Seconds 2

        # Correctly constructs the path for Windows
        $AsioPath = Join-Path $env:GITHUB_WORKSPACE "asio/asio/include"
        # Converts to forward slash (CMake handles them better)
        $AsioPath = $AsioPath -replace "\\", "/"

        echo "ASIO path: $AsioPath"
        dir $AsioPath

        cmake -S . -B ./build `
          -DCMAKE_BUILD_TYPE:STRING=${{ matrix.build_type }} `
          -DCMAKE_CXX_STANDARD=${{ matrix.standard }} `
          -DCLI_BuildTests=ON `
          -DCLI_BuildExamples=ON `
          -DCLI_UseBoostAsio=ON `
          -DASIO_INCLUDEDIR="$AsioPath"

    - name: Set Boost DLL Path - Windows
      if: runner.os == 'Windows'
      run: |
        # Find the directory of Boost DLLs installed by choco (usually in 'lib' under the root)
        $boostPath = "C:\ProgramData\chocolatey\lib\boost-msvc-14.1.*\lib"
        $boostDllDir = Get-ChildItem -Path $boostPath -Directory | Select-Object -First 1

        if ($null -ne $boostDllDir) {
          echo "Adding the path of Boost DLLs: $($boostDllDir.FullName)"
          # Adds the path to the PATH environment variable for subsequent steps
          echo "$($boostDllDir.FullName)" | Out-File -FilePath $env:GITHUB_PATH -Encoding UTF8 -Append
        } else {
          echo "WARNING: Boost DLL path not found."
        }

    - name: Build
      run: |
        cmake --build ./build --config ${{matrix.build_type}}

    - name: run tests
      # on windows test_suite throws an exception, but only on the CI environment!
      # if: runner.os != 'Windows'
      working-directory: ./build
      run: |
        ctest -C ${{matrix.build_type}} --output-on-failure
