name: CI

on: [push,pull_request]

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        os: [macos-14]
        compiler: [llvm-17.0.2, clang++-15]
        standard: [14, 17, 20, 23]
        build_type: [Release, Debug]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Cpp
      uses: aminya/setup-cpp@v1
      with:
        compiler: ${{ matrix.compiler }}
        vcvarsall: false

        cmake: true
        ninja: true
        vcpkg: false
        ccache: true
        clangtidy: true

        cppcheck: true

        gcovr: true
        opencppcoverage: true
          
    - name: setup dependencies
      run: |
          brew update
          brew install ninja
          brew install boost --build-from-source
          brew install asio
      
    - name: Configure CMake
      run: |
        cmake -S . -B ./build \
              -G Ninja \
              -DCMAKE_BUILD_TYPE:STRING=${{matrix.build_type}} \
              -DCMAKE_CXX_STANDARD=${{matrix.standard}} \
              -DCLI_BuildTests=ON \
              -DCLI_BuildExamples=ON \
              -DCLI_UseBoostAsio=ON \
              -DBOOST_ROOT=$BOOST_ROOT \
              -DBOOST_INCLUDEDIR=$BOOST_ROOT/include \
              -DBOOST_LIBRARYDIR=$BOOST_ROOT/lib \
              -DBoost_NO_BOOST_CMAKE=ON

    - name: Build
      run: |
        cmake --build ./build --config ${{matrix.build_type}} --parallel $(sysctl -n hw.logicalcpu)

    - name: run test
      working-directory: ./build
      run: |
        # cd /home/runner/work/cli/cli/build/test/
        # ./test_suite
        ctest -C ${{matrix.build_type}} --output-on-failure
