name: CI windows

on: [push,pull_request]

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        os: [windows-2022, windows-2025]
        compiler: [clang++-15, msvc]
        standard: [14, 17, 20, 23]
        build_type: [Release, Debug]
        asio_library: [boost, standalone, none]

    steps:
    - uses: actions/checkout@v4

    - name: Setup Cpp
      uses: aminya/setup-cpp@v1
      with:
        compiler: ${{ matrix.compiler }}
        vcvarsall: true

        cmake: true
        ninja: true
        vcpkg: false
        ccache: true
        clangtidy: true

        cppcheck: true

        gcovr: true
        opencppcoverage: true

    - name: setup dependencies
      run: |
          choco install ninja
          choco install boost-msvc-14.1
          # Download and extract Asio
          curl -L -o asio.zip https://github.com/chriskohlhoff/asio/archive/refs/tags/asio-1-18-2.zip
          tar -xf asio.zip
          move asio-asio-1-18-2 asio

    - name: Configure CMake
      # windows need asio library path
      run: |
        Start-Sleep -Seconds 2

        # Correctly constructs the path for Windows
        $AsioPath = Join-Path $env:GITHUB_WORKSPACE "asio/asio/include"
        # Converts to forward slash (CMake handles them better)
        $AsioPath = $AsioPath -replace "\\", "/"

        echo "ASIO path: $AsioPath"
        dir $AsioPath

        $UseBoostAsio = if ("${{ matrix.asio_library }}" -eq "boost") { "ON" } else { "OFF" }
        $UseStandaloneAsio = if ("${{ matrix.asio_library }}" -eq "standalone") { "ON" } else { "OFF" }

        cmake -S . -B ./build `
          -DCMAKE_BUILD_TYPE:STRING=${{ matrix.build_type }} `
          -DCMAKE_CXX_STANDARD=${{ matrix.standard }} `
          -DCLI_BuildTests=ON `
          -DCLI_BuildExamples=ON `
          -DCLI_UseBoostAsio=$UseBoostAsio `
          -DCLI_UseStandaloneAsio=$UseStandaloneAsio `
          -DASIO_INCLUDEDIR="$AsioPath"

    - name: Set Boost DLL Path
      run: |
        # Find the directory of Boost DLLs installed by choco (usually in 'lib' under the root)
        $boostPath = "C:\ProgramData\chocolatey\lib\boost-msvc-14.1.*\lib"
        $boostDllDir = Get-ChildItem -Path $boostPath -Directory | Select-Object -First 1

        if ($null -ne $boostDllDir) {
          echo "Adding the path of Boost DLLs: $($boostDllDir.FullName)"
          # Adds the path to the PATH environment variable for subsequent steps
          echo "$($boostDllDir.FullName)" | Out-File -FilePath $env:GITHUB_PATH -Encoding UTF8 -Append
        } else {
          echo "WARNING: Boost DLL path not found."
        }

    - name: Build
      run: |
        cmake --build ./build --config ${{matrix.build_type}}

# on windows test_suite throws an exception because it cannot find boost libraries path :-(
#    - name: run tests
#      working-directory: ./build
#      run: |
#        ctest -C ${{matrix.build_type}} --output-on-failure
